---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Clients from "../components/Clients.astro";

import Junk from "../components/Junk.jsx";

let games = await Astro.glob("../pages/Games/*.mdx");
let web = await Astro.glob("../pages/Web/*.mdx");

//sort games and web by order prop
games = games.sort((a, b) => a.frontmatter.order - b.frontmatter.order);
web = web.sort((a, b) => a.frontmatter.order - b.frontmatter.order);

const socials = [
	{
		icon: "lab la-twitter",
		link: "https://twitter.com/duckpizza_",
	},
	{
		icon: "lab la-github",
		link: "https://github.com/chikanz",
	},
	{
		icon: "lab la-itch-io",
		link: "https://snootboop.itch.io/",
	},
	{
		icon: "lab la-linkedin",
		link: "https://www.linkedin.com/in/zac-lucarelli-95a0b01b9/",
	},
	{
		icon: "lab la-youtube",
		link: "https://www.youtube.com/channel/UC_I02j_siBz4y7L06nBjjiA",
	},
	{
		icon: "las la-envelope",
		link: "mailto:hi@duck.pizza",
	},
];
---

<Layout title="Zac's portfolio" classes="bg-[#5e22e6] relative h-full">
	<div class="h-full w-full lg:p-20 2xl:w-[70vw] mx-auto relative">
		<div class="grid grid-cols-1 lg:grid-cols-2 grid-rows-2 lg:grid-rows-1 h-full">
			<div class="flex flex-col md:pr-36 gap-6 justify-start md:justify-center order-2 lg:order-1 px-4">
				<!-- Header text -->
				<h1 class="text-5xl md:text-8xl md:mb-8 font-medium">Zac Lucarelli</h1>
				<p class="text-xl md:text-4xl">
					Developer + Designer of immersive 3D experiences across
					games, web and XR
				</p>

				<!-- Socials -->
				<div class="relative flex">
					{
						socials.map((s) => {
							return (
								<a
									href={s.link}
									class="text-4xl md:text-5xl mr-2 hover:translate-y-[-4px] transition-transform"
									target="_blank"
									rel="noreferrer"
								>
									<i class={`${s.icon}`} />
								</a>
							);
						})
					}

					<!-- Click hint -->
					<div id="clickhint" class="absolute bottom-[-50px] transition-opacity">
						<h3 class="opacity-90 hidden md:block">
							Click objects on the right to learn more about me! 👉
						</h3>

						<h3 class="opacity-90 block md:hidden">
							Click objects above to learn more about me! 👆
						</h3>
					</div>
				</div>
			</div>

			<!-- 3D shit -->
			<div class="h-full md:h-full order-1 lg:order-2">
				<Junk client:load />
			</div>
		</div>

		<!-- Scroll arrow -->
		<div
			id="scrollArrow"
			class="absolute bottom-0 text-white left-[50%] mb-2 lg:mb-8 text-5xl animate-bounce z-10 hover:cursor-pointer"
		>
			<i class="las la-arrow-down translate-x-[-50%]"></i>
		</div>
	</div>

	<!-- Games -->
	<section
		id="Games"
		class="lg:h-screen border-t-4 border-black bg-[#33b3e3] flex flex-col lg:gap-36 justify-center items-center"
	>
		<h2 class="text-6xl my-8 md:m-0">Games</h2>
		<div class="CardGrid">
			{
				games.map((post) => {
					return (
						<Card
							title={post.frontmatter.title}
							description={post.frontmatter.description}
							image={`/Cards/${post.frontmatter.img}`}
							href={post.url}
						/>
					);
				})
			}
			
		</div>
	</section>

	<!-- Web -->
	<section
		id="Web"
		class="lg:h-screen ring-4 ring-black bg-[#ffa722] flex flex-col lg:gap-36 justify-center items-center"
	>
		<h2 class="text-6xl mt-8 md:m-0">Web</h2>
		<div class="CardGrid">
			{
				web.map((post) => {
					return (
						<Card
							title={post.frontmatter.title}
							description={post.frontmatter.description}
							image={`/Cards/${post.frontmatter.img}`}
							href={post.url}
						/>
					);
				})
			}
		</div>
	</section>

	<!-- CTA -->

	<section class="relative lg:h-screen  bg-[#ff654d] flex flex-col justify-around items-center border-t-4 border-black">
		<Clients/>
		<div class="flex flex-col gap-12 justify-center items-center text-center h-screen lg:h-full">
			<h1 class="text-8xl">Let's have a yap</h1>
			<a class="text-5xl underline" href="mailto:hi@duck.pizza">hi@duck.pizza</a>
		</div>

		<!-- Footer -->
		 <a class="absolute right-3 bottom-3 text-xs opacity-80 underline" target="_blank" href="https://poly.pizza/l/a8UTwHoG4K">Model credits</a>	
		<!-- <div class="absolute flex relative items-center justify-center bottom-0 w-full gap-2 h-20 bg-[#ff8774] p-2 border-t-4 border-black"> -->
			<!-- <a class=""  href="https://github.com/Chikanz/Portfolio">Made with 🍕 by me</a>	 -->
			<!-- <a class=" absolute right-3 bottom-3 text-xs opacity-80 underline" target="_blank" href="https://poly.pizza/l/a8UTwHoG4K">Model credits</a>	 -->
		<!-- </div> -->
	</section>
</Layout>


<script>
	//Make scroll arrow smooth scroll to first section
	document.querySelector('#scrollArrow').addEventListener('click', () => {
		document.querySelector('#Games').scrollIntoView({
			behavior: 'smooth',
		});
	});
</script>

<style>
	.CardGrid{
		@apply grid grid-cols-1 lg:grid-cols-3 grid-rows-1 container mx-auto gap-4 lg:gap-28 px-5 my-10;
	}

</style>