---
export interface Props {
	frontmatter: {
		title: string;
		description: string;
		img: string;
		icons: string[];
		ctaText?: string;
		ctaLink?: string;
		swiper? : string[];
	};
}

const { frontmatter, file, url } = Astro.props;

const { title, description, img, icons, ctaText, ctaLink, swiper } = frontmatter;

import Courasel from "../components/Courasel.astro";

import "../styles/Post.css";

//Get next and previous links by globbing for mdx in current directory
//Hack because glob only accepts literals
let posts;
const Category = url.split("/").slice(1, -1).join("/");

if (Category === "Web") posts = await Astro.glob("../pages/Web/*.mdx");
else posts = await Astro.glob("../pages/Games/*.mdx");

const postIndex = posts.findIndex((post) => post.url === url);
const prevPost = postIndex - 1 >= 0 ? posts[postIndex - 1] : null;
const nextPost = postIndex + 1 < posts.length ? posts[postIndex + 1] : null;

import 'line-awesome/dist/line-awesome/css/line-awesome.min.css';
---

<!DOCTYPE html>
<html lang="en" class="text-white font-sans bg-[#ffc700]">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
		<title>{frontmatter.title} | Zac's Portfolio</title>
	</head>

	<body>
		<!-- Pagination + home links -->
		<div
			class="HeaderLinks relative flex w-full p-4 justify-between items-center text-black"
		>
			<div>
				{
					prevPost && (
						<a class="flex items-center gap-5" href={prevPost.url}>
							<i
								class="las la-arrow-left "
								style="font-size: 48px"
							/>
							<p class="text-2xl hidden md:block">{prevPost.frontmatter.title}</p>
						</a>
					)
				}
			</div>
			<a
				href={`/#${Category}`}
				class="absolute left-[50%] translate-x-[-50%]"
				><i class="las la-home" style="font-size: 48px"></i>
			</a>

			{
				nextPost && (
					<a class="flex items-center gap-5" href={nextPost.url}>
						<p class="text-2xl text-right hidden md:block">
							{nextPost.frontmatter.title}
						</p>
						<i
							class="las la-arrow-right "
							style="font-size: 48px"
						/>
					</a>
				)
			}
		</div>

		<!-- Post -->
		<article
			class="max-w-4xl mx-auto bg-[#6d57ff] ring-2 ring-black mt-2 rounded-md pb-8 mb-8 px-4 md:px-16"
		>
			<!-- Title -->
			<header class="text-center md:px-10 py-10 pb-5">
				<h1 class="text-white-light text-5xl mb-10 md:mb-3">
					{frontmatter.title}
				</h1>
				<h2 class="text-white-light text-2xl mb-3">
					{frontmatter.description}
				</h2>
			</header>

			<!-- Swiper -->
			{swiper && <Courasel
				className={"w-full my-4 rounded aspect-video p-16 border-2 mb-10 border-black bg-[#5745cc]"}
				slides={swiper}
			/>}

			<!-- CTA Button -->
			{
				ctaText && ctaLink && (
					<div class="flex items-center justify-center py-4 pb-2">
						<a
							href={ctaLink}
							target="_blank" rel="noopener"
							class="flex items-center text-xl font-medium hover:scale-105 transition-all justify-center gap-3 bg-[#ff80f2] text-black p-4 px-8 rounded border-2 border-black"
						>
							<p>{ctaText}</p>
							<i
								class="las la-arrow-right "
								style="font-size: 24px"
							/>
						</a>
					</div>
				)
			}

			<!-- Post -->
			<main class="text-lg">
				<slot />
			</main>
		</article>
	</body>
</html>

<style>
	.HeaderLinks > * {
		@apply hover:scale-105 transition-transform;
	}
</style>

<script>
	import { fetchVids } from "../util/FetchGFY";
	fetchVids();
</script>
